{% extends 'centralapp/base.html' %}
{% load static %}
{% block body %}
<div class="typewriter">Corona Checkpoints.</div>
<div class="corona-subhead" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1800">Keep the following things in mind.<br></div>
<div class="row cards" style="background: #faf3dd" data-aos="flip-up" data-aos-duration="1500">
	<div class="col-lg-5">
       <img class="covid-img" src="{% static 'centralapp/Images/wear_mask.jpg' %}">		
	</div>
	<div class="col-lg-7 paragraph">
		<h3 style="color: #c26565; font-weight: bold">A mask is a must.</h3><br>
		Always remember to wear a mask. Also ensure your mouth and nose are properly covered by the mask.
	</div>
</div>
<div class="row cards" style="background: #d2f6c5" data-aos="flip-up" data-aos-duration="1500">
	<div class="col-lg-7 paragraph">
		<h3 style="color: #206a5d; font-weight: bold" >Wash, wash and wash again..</h3><br>
       	Keep washing your hands at regular intervals. Spend at least 20 seconds rubbing to ensure that you cover all the nooks and corners.
	</div>
	<div class="col-lg-5">
		<img class="covid-img" src="{% static 'centralapp/Images/wash_hands.jpg' %}">
	</div>
</div>
<div class="row cards" style="background: #faf3dd" data-aos="flip-up" data-aos-duration="1500">
	<div class="col-lg-5">
       <img class="covid-img" src="{% static 'centralapp/Images/social_distance.jpeg' %}">		
	</div>
	<div class="col-lg-7 paragraph">
		<h3 style="color: #c26565; font-weight: bold">Remember the 6 Feet Rule.</h3> <br>
		Always ensure a minimum gap of 2 meters (or 6 feet) between you and others.
		This ensures that the droplet spread of this disease is minimised.
	</div>
</div>
<div class="row cards" style="background: #d2f6c5" data-aos="flip-up" data-aos-duration="1500">
	<div class="col-lg-7  paragraph">
		<h3 style="color: #206a5d; font-weight: bold">Sneeze... But ensure your mouth is covered</h3><br>
       	Follow the right etiquettes while coughing and sneezing. Always use a tissue or a cloth to cover your mouth while sneezing. If a tissue is not available, use your elbow to cover your mouth.
	</div>
	<div class="col-lg-5">
		<img class="covid-img" src="{% static 'centralapp/Images/sneeze.png' %}">
	</div>
</div>
<div class="row cards" style="background: #faf3dd" data-aos="flip-up" data-aos-duration="1500">
	<div class="col-lg-5">
       <img class="covid-img" src="{% static 'centralapp/Images/sanitiser.PNG' %}">		
	</div>
	<div class="col-lg-7 paragraph">
		<h3 style="color: #c26565; font-weight: bold">Always keep a sanitiser handy</h3> <br>
		Remember to thoroughly sanitise your hands after you touch any surface.
		The picture on the left shows how to use a sanitiser correctly.
	</div>
</div>
<div class="row cards" style="background: #d2f6c5" data-aos="flip-up" data-aos-duration="1500">
	<div class="col-lg-7  paragraph">
		<h3 style="color: #206a5d; font-weight: bold">Watch out for symptoms</h3><br>
       	Check if you or your family members have any of the following symptoms. If you suspect chances of having come in contact with a Coronavirus patient, seek medical help immediately. 
	</div>
	<div class="col-lg-5">
		<img class="covid-img" src="{% static 'centralapp/Images/covid_symptoms.jpg' %}">
	</div>
</div>


{% endblock %}
