{% extends 'centralapp/base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row my-4">
        <div class="col-sm-8 p-2 ml-auto" >
            <h1> What is a health record</h1>
            <p>
                <br>This means your important health information is available when and where it’s needed, including in an emergency.
            </p>

            <p>
                <h2>Start using your My Health Record:</h2>
                <ul>
                    <li>Log in to your record for the first time</li>

                    <li>Control your privacy settings</li>

                    <li>Understand what information can go in your record</li>

                    <li>Discuss My Health Record with your healthcare provider</li>
                </ul>
            </p>
        </div>

{% endblock %}
