{% extends 'centralapp/base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row my-4">
        <div class="col-sm-8 p-2 ml-auto" >
            <h1> What is a health record</h1>
            <p>
                <br>This means your important health information is available when and where it’s needed, including in an emergency.
            </p>

            <p>
                <h2>Start using your My Health Record:</h2>
                <ul>
                    <li>Log in to your record for the first time</li>

                    <li>Control your privacy settings</li>

                    <li>Understand what information can go in your record</li>

                    <li>Discuss My Health Record with your healthcare provider</li>
                </ul>
            </p>
        </div>


        <div class="col-sm-3 mr-auto sidebar">
            <ul class="list-group ">
                <li class="list-group-item  heads">For You And Your Family</li>
                <ul class="list-group">
                    <a class="list-group-item list-group-item-action" href="{% url 'centralapp:Inside_health_records' %}">What's in my health record </a>
                    <a class="list-group-item list-group-item-action" href="{% url 'centralapp:patients_how_to_use' %}">How to use my health record </a>
                </ul>
                <li class="list-group-item  heads">For HealthCare Professionals</li>
                <ul class="list-group">
                    <a class="list-group-item list-group-item-action active" href="{% url 'centralapp:doc_how_to_use' %}">How to use my health record </a>
                </ul>
                <li class="list-group-item  heads">Know more about diseases</li>
                <ul class="list-group">
                    <a class="list-group-item list-group-item-action" href="{% url 'centralapp:Aids' %}">AIDS</a>
                    <a class="list-group-item list-group-item-action" href="{% url 'centralapp:Cancer' %}">Cancer</a>
                    <a class="list-group-item list-group-item-action" href="{% url 'centralapp:Heart_disorder' %}">Heart Disorders</a>
                    <a class="list-group-item list-group-item-action" href="{% url 'centralapp:Hypertension' %}">Hypertension</a>
                    <a class="list-group-item list-group-item-action" href="{% url 'centralapp:Diabetes' %}">Diabetes</a>
                    <a class="list-group-item list-group-item-action" href="{% url 'centralapp:Birth_control' %}">Birth control measures</a>
                </ul>
                <a class="list-group-item list-group-item-action heads" href="{% url 'centralapp:About_us' %}">About Us</a>
                <a class="list-group-item list-group-item-action heads" href="{% url 'centralapp:FAQS' %}">FAQs</a>
                <a class="list-group-item list-group-item-action heads" href="{% url 'centralapp:Covid_19' %}">Covid-19 Checkpoints</a>
            </ul> 
        </div>

    </div>
</div>


{% endblock %}
