{% extends 'centralapp/base.html' %}

{% block body %}
<div id="sidebar">
  <div class="toggle-btn" onclick="toggleSideBar()">
    <span style='font-size:20px;'>&#9776;</span>
  </div>

  <ul>
    <li><a href="#">Medication</a></li>
    <li><a href="#">Lab Reports</a></li>
    <li><a href="#">Edit your profile</a></li>
    <li><a href="#">More options</a></li>
  </ul>
  
</div>
<div class="container" id="main-content">
  <div class="row" style="background: #edcfa9; margin: 50px auto">
    <h2>Current Medication </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <a href="#">View more</a>
    
  </div>
  <div class="row" style="background:  #edcfa9; margin: 50px auto">
    <h2>Recent Lab reports </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <a href="#">View more</a>
    
  </div>
  <div class="row" style="background: #edcfa9; margin: 50px auto">
    <h2>General Info </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <a href="#">Edit info</a>
    
  </div>
  
</div>

{% endblock %}