{% extends 'centralapp/base.html' %}
{% load static %}
{% block body %}
<div id="sidebar">
    <div class="toggle-btn" onclick="toggleSideBar()">
        <span style='font-size:20px;'>&#9776;</span>
    </div>
    <span class="btn-close" onclick="closeSideBar()">&times;</span>

    <ul>
        <li><a href="{% url 'centralapp:patientRecords' %}">Medication</a></li>
        <li><a href="#">Lab Reports</a></li>
        <li><a href="#">Personal notes</a></li>
        <li><a href="{% url 'centralapp:patientProfile' %}">Edit your profile</a></li>
        <li><a href="#">Back to homepage</a></li>
    </ul>

</div>
{% block patient_base %}
{% endblock %}


{% endblock %}