

*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
#sidebar{
	position: absolute;
	top:83px;
	width: 200px;
	height: 100%;
	background: #24a19c;
	left: -200px;
	transition: all 300ms linear;
	
}

#sidebar ul li{
	color: rgba(230,230,230,0.9);
	list-style: none;
	padding: 20px 15px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}
#sidebar ul li:hover{
	background-color: #cedebd;
    border-radius: 0px 40px 40px 0px;
}
#sidebar ul li:hover a{
    font-weight: bold;
	color: black;
}
#sidebar .toggle-btn{
	position: absolute;
	left: 210px;
    top: 20px;
    cursor: pointer;
    padding: 5px 12px;
}
#sidebar .toggle-btn:hover{
    background-color: #cedebd;
    padding: 5px 12px;
    border-radius: 30%;
}
#sidebar a{
	text-decoration: none;
	color: #f6f5f5;
}

/* #sidebar .btn-close{
	position: absolute;
	top: 0;
	right: 22px;
	font-size: 30px;
	margin-left: 50px;
}
#sidebar .btn-close:hover{

	color: #f6f5f5;
} */

#main-content{
	/* transition: margin-left 0.4s linear; */
	padding: 20px;
    overflow: hidden;
    
    margin: auto 100px auto 3fr;
}
.team a{
	text-decoration: none;
	color: #41444b;
	font-weight: bold;
}
.team ul li{
	color: rgba(230,230,230,0.9);
	list-style: none;
	padding: 20px 15px;
}
.paragraph{
	font-size: 25px;
	margin:auto;
	font-family: 'Ubuntu';

}
.covid-img{
	height: 400px;
	max-width: 100%;
	margin: auto;
	display: block;
}
.corona-subhead{
	color: #d49a89;
	margin: 0 auto;
	font-size: 2em;
	text-align: center;
	font-family: 'Pacifico';
}
.typewriter{
	color: #d49a89;
	position: relative;
	font-size: 3.5em;
	width: 12em;
	margin: 0 auto;
	border-right: 2px solid rgba(255,255,255,0.75);
	text-align: center;
	white-space: nowrap;
	overflow:hidden;
	font-family: 'Grandstander',monospace;
	animation: animated-text 4s steps(30) 200ms 1 normal both,
             animated-cursor 500ms steps(30) infinite normal;
}
@keyframes animated-text{
  from{width: 0;}
  to{width: 10em;}
}
@keyframes animated-cursor{
  from{border-right-color: rgba(0,0,0,.75);}
  to{border-right-color: transparent;}
}
.cards{
	margin:30px;
	border: 2px solid #557571;
	border-radius: 15px;
}
.about_us_headline{
	padding-top: 4em;
	padding-bottom:2em;
	text-align: center;
	/*color: #9cada4;*/
}
.about_us_headline p{
	font-size:35;
	
}
.display{
	font-size:4.5rem;
	font-weight: 300;
	line-height: 1.2;
	font-family: Cinzel;
}
.p_display{	font-size: 2em;
	display: block;
	padding-left:2em;
	padding-right:2em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.main_container{
	padding:30px 20px;
	margin: 50px auto;
	border: 1px solid #1a1a2e;
	border-radius: 15px;
}
.bhu_image{
	padding:20px;
	height:40vh;
	margin:auto;
	display: block;
	
}
.bullet-style ul{
/*	list-style: square url(Images/wear_mask.jpg) inside;
*/ padding-left:40px;
 }
 .bullet-style ul li{
/*	list-style: square url(Images/wear_mask.jpg) inside;
*/ padding-top: 10px;
 }

.health-record-img{
	height: 50vh;
	margin: auto;
	display: block;
	margin-bottom: 50px;
	border: solid 0.5px #1a1a2e;
	border-radius:30px;
}
.head-pacifico
{
	font-family: 'Pacifico';
	padding-bottom: 15px;
}
.howtodiv {
	font-size: 18px;
}

.sidebar{
	background: #e0ece4; 
	height:fit-content;
	width: fit-content;
	border-radius: 15px;
    padding: 1em 1em 1em 1em;
    margin-right: auto;
    margin-left: auto;
}

.list-group > .list-group > .list-group-item{
	padding-left: 2.5em;
}
.list-group > .list-group > .list-group-item:hover ,a.heads:hover {
	background-color: #24a19c;
	color: #FFF;
}
.list-group-item{
	
	height: fit-content;
	padding: 6px 10px 6px 10px;
	overflow: auto;
}
.list-group > .list-group-item {
border-radius: 0px;
border-width: 0 0 0 0;
}
.list-group > .heads{
border-top-width: 2px;
font-weight: bold;
}
.h3-heading{
    text-align: center;
}
.top-images{
    display: block;
    padding: .75em;
    margin-right: auto;
    margin-left: auto;
    transition: transform 0.4s;
    border-radius: 10px;
    border: solid tomato;

    animation: image-appear 0.6s ease-out;
}
.top-images:hover{
    transform: scale(1.07);  
}
.disease-images{
    display: block;
    padding: .75em;
    margin-right: auto;
    margin-left: auto;
    transition: transform 0.4s;
    border-radius: 10px;
    border: solid tomato;
}
.section-divs{
    border-radius: 1.25em;
    border-style: solid;
    border-color: rgb(35, 143, 98);
    padding: 0.4em 1em 0em 1em;
    background-color: rgb(255, 225, 197);
   
}
hr{
    border-style: solid;
    color: rgb(35, 143, 98);
    border-color: rgb(35, 143, 98);
}

@keyframes image-appear{
    from{opacity: 0; transform: scale(0.5);}
    to{opacity: 1; transform: scale(1);}
}
