.sidebar{
	background: #e0ece4; 
	height:fit-content;
	width: fit-content;
	border-radius: 15px;
    padding: 1em 1em 1em 1em;
    margin-right: auto;
    margin-left: auto;
}

.list-group > .list-group > .list-group-item{
	padding-left: 2.5em;
}
.list-group > .list-group > .list-group-item:hover ,a.heads:hover {
	background-color: #24a19c;
	color: #FFF;
}
.list-group-item{
	
	height: fit-content;
	padding: 6px 10px 6px 10px;
	overflow: auto;
}
.list-group > .list-group-item {
border-radius: 0px;
border-width: 0 0 0 0;
}
.list-group > .heads{
border-top-width: 2px;
font-weight: bold;
}
.h3-heading{
    text-align: center;
}
.top-images, .disease-images{
    display: block;
    padding: .75em;
    margin-right: auto;
    margin-left: auto;
    transition: transform 0.4s;
    border-radius: 10px;
    border: solid tomato;
}
.top-images:hover{
    transform: scale(1.07);  
}
.section-divs{
    border-radius: 1.25em;
    border-style: solid;
    border-color: rgb(35, 143, 98);
    padding: 0.4em 1em 0em 1em;
    background-color: rgb(255, 225, 197);
   
}
hr{
    border-style: solid;
    color: rgb(35, 143, 98);
    border-color: rgb(35, 143, 98);
}

