{% extends 'doctor/base.html' %}

{% block doctorbase %}
{% load static %}

<div class="container" id="main-content" >
    <div class="row dashboard-content">
        <h2>Current Medication </h2>
    {% for report in Reports%}
    <div class="prescription" style="background: rgb(238, 201, 255);padding: 1em;">
        <h5 style="background-color: #f7ec8d; width: fit-content;border-radius: 10px; padding: 2px 5px;
                        font-family: 'Grandstander'; margin: auto;">Date: {{report.date}}</h5>
    
    
    
        <h5><b>Doctor:</b>{{report.doctor_name}}</h5>
        <h5>Symptoms</h5>
        <p>{{report.Symptoms}}</p>
        <h5>Diagnosis</h5>
        <p>{{report.diagnosis}}</p>
        <table class="table table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th> </th>
                    <th>Medicine</th>
                    <th>Dosage</th>
                    <th>For</th>
                </tr>
            </thead>
            <tbody>
                {%for med in report.medication%}
                <tr>
                    <td>.</td>
                    {%for each in med%}
                    <td>{{each}}</td>
                    {%endfor%}
    
    
                </tr>
                {%endfor%}
    
            </tbody>
        </table>
        <p><strong>Additional Precautions:</strong> {{report.additional_precautions}}</p>
    
    </div>
    <hr>
    {% empty %}
    <div style="margin-top:7%;">
        <p style="font-size: 20px;">
            <b>
                NO MEDICAL HISTORY !!
            </b>
        </p>
    </div>
    {%endfor%}
    
    <div class="container">
        <button class="edit-option-buttons" style="font-size: 18px;">
            <a href="#">View all prescriptions</a>
        </button>
    </div>
    </div>
    <div class="row dashboard-content">
        <h2>Recent Lab reports </h2>
        <div class="container" id="main-content">
            <div class="row my-4">
                <div class="col">
        
        
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Report Name</th>
                                <th>Report Date</th>
                                <th>Preview</th>
                                <th>Download</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>MRI</td>
                                <td>dd-mm-yyyy</td>
                                <td><a class="prev-download-btn" href="{% static 'patient/lorem.pdf'%}"
                                        target="_blank">Preview</a></td>
                                <td><a class="prev-download-btn" href="{% static 'patient/lorem.pdf'%}" download>Download</a>
                                <td><a class="prev-download-btn" href="#">Remove</a></td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
        
                </div>
            </div>
        </div>

    </div>
    <div class="row dashboard-content">
        <h2>Patient's personal notes</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
<div class="row dashboard-content">
    <div>
        <h2>General Vitals </h2>
    </div>
    <div class="row my-5">
        <div class="col-4 text-center" style="border:2px solid black;">
            <div class="row my-3">
                <div class="col-lg-6 profile-content">
                    <b>HEIGHT: </b>
                </div>
                <div class="col-lg-6 profile-content">
                    {{vitals.Height_in_Centimeters}}
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-6 profile-content">
                    <b>WEIGHT:</b>
                </div>
                <div class="col-lg-6 profile-content">
                    {{vitals.Weight_in_kilograms}}
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-6 profile-content">
                    <b>SMOKER OR NOT:</b>
                </div>
                <div class="col-lg-6 profile-content">
                    {{vitals.Smoker_or_not}}
                </div>
            </div>
        </div>
        <div class="col-8 text-center">
            <div class="row my-3">
                <div class="col-lg-6 profile-content">
                    <b>ALLERGIES:</b>
                </div>
                <div class="col-lg-6 profile-content">
                    {{vitals.Allergies}}
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-6 profile-content">
                    <b>CHRONIC CONDITIONS</b>
                </div>
                <div class="col-lg-6 profile-content">
                    {{vitals.Chronic_conditions}}
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <button class="edit-option-buttons" style="font-size: 18px;">
            <a href="{% url 'doctor:addRecord' %}"> Add a new record </a>
        </button>
    </div>

</div>
{% endblock %}
