<form action="/pract/addingReport" method="POST">
    {% csrf_token %}

    patient name: <input type="text" name="patient_name" id=""><br>
    patient username: <input type="text" name="patient_username" id=""><br>
    patient age: <input type="text" name="patient_age" id=""><br>
    doctor name: <input type="text" name="doctor_name" id=""><br>
    doctor notes: <input type="text" name="doctor_notes" id=""><br>
    doctor pres: <input type="text" name="doctor_pres" id=""><br>
    add record: <input type="submit" name="" id="">

</form>