html{
	scroll-behavior: smooth;
}

#navstyle{
	background-color: #24a19c;
	color: #FFFFF0;
	background-image: linear-gradient(90deg, #24a19c 0%, #cedebd 100%);

}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.slider{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120vh;
	background: #DEB887;
	z-index: -1;
}
section{
	display: flex;
	height: 80vh;
	justify-content: center;
	align-items: center;
}
.hero{
	height: 120%;
	width: 90%;
	display: inline-block;
	position: relative;
}
.hero img{
	margin-top: 100;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/*.hero a{
position:relative;

background-color:#8F0005;
color:white;

padding:1em 1.5em;

}*/

.headline{
	position: absolute;
	top: 65%;
	left: 15%;
	font-size: 50px;
	transform: translate(-20%, -70%);
	color: black;
}
#navbar-list-items > li > a{
	color:white;
}
#navbar-list-items > li{
	padding: auto;
	border-radius: 0.7em;
	margin: auto 2px;
	height: fit-content;
}
#navbar-list-items > li:hover{
	background-color:  #ed6663;
} 
.waves {
	position: relative;
	width: 100%;
	height: 15vh;
	margin-bottom: -7px;
	/*Fix for safari gap*/
	min-height: 100px;
	max-height: 150px;
}
.button{
	position: relative;
	bottom:-10em;
	right:-2em;
	font-size:1.1em;
	background: #24a19c;
	padding: 1em 1.5em;
	color: white;
	box-shadow: 0 0 3em -1em rgba(0,0,0,0.75);
	margin: 0 0.5em 0.5em 0;
	text-transform:uppercase;
	border-color:white;
	border-radius:1.5em;
	text-decoration: none;
	transition: 0.4s;
	white-space: normal;
}
.button:hover{
	background: #006a71;
	color: white;
	text-decoration: none;
}
.button2{
	background:#ffaa71;
	box-shadow: 0 0 3em -1em rgba(0,0,0,0.75);
}

/*.popup{
background: rgba(0,0,0,0.6);
width: 100%;
height: 100%;
position: absolute;
top: 0;
display: flex;
justify-content: center;
align-items: center;
}
.popup-content{
background: #e4e4e4;
height: 300px;
width: 500px;
padding: 20px;
border-radius: 5px;
position: relative;
}*/
.modal-notify .modal-header {
	border-radius: 3px 3px 0 0;
}
.modal-notify  {
	border-radius: 3px;
}
.content-box{
	display:grid;
	grid-template-columns: 3fr 2fr;
	grid-auto-rows: minmax(100px,auto);
	grid-gap:2em;
	margin: 2em;
}
.content-box > div{
	background:#eee;
	padding:1.5em;
}
.content-box > div:nth-child(odd){
	background:#ddd;
}
.modal-content{
	background-color:#FFF;
	border-radius: 12px 42px;
	width:fit-content;
	top: 2px;
}

#signincard{
	background-color: transparent;
	border-width: 0.75em;
	border-color: #24a19c;
	border-radius: 10px 40px; width: 22em;
	padding-right: 2.5em;
	padding-left: 2.5em;
	padding-top: 1em;
	padding-bottom: 1em;
}
.form-control {
	color: rgb(0, 0, 0);
	border-width:1px;
	border-color: #696969;
	background-color: rgb(255, 246, 241);
}
.form-control:focus {
	border: 3px #0ab421;
	background-color: rgb(252, 250, 233);
	box-shadow: 7px 7px 5px rgb(14, 192, 59);
}
.custom-control-input:checked ~.custom-control-label::before {
	background-color: rgb(14, 192, 59);
}

#submit-btn{
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	border-radius: 1em;
	background: #66ec44;
	align-items: center;
	padding: 0.25em 0.75em;
}
#submit-btn:hover {
	background: #919e9e;
}
body{
	background: linear-gradient(90deg, #24a19c,#cedebd);
}
.logoimg{
	width:400px;
	transition: transform .2s;
	margin:auto;
}
.logoimg:hover{
	transform: scale(1.1);
}

#signupcard{
	display:grid;
	grid-template-columns: 40% 60%;
	background-color: #FFF;
	border-radius: 2em;  
	padding: 0em 2em 0em 2em;
	width: 60em;
	margin: auto;
}
#cardhead{
	border-radius: 1em;
	width: fit-content;
	align-self: center;
	height: 2.5em;
	padding: 0.25em 0.75em 0.25em 0.75em;
}
.formbox{
	width: fit-content;
	padding: 1em;
	align-items: center;

}
.useful_links{
	color: rgb(59, 59, 59);
	text-decoration: none;
}
.useful_links:hover{
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.footer-style h6{
	
	font-weight: 700;
	font-size: 1.2em;
	color: rgb(20, 20, 20);
}
.footer-style a{
	padding: 10px 0;
	font-weight: 500;
	color: rgb(26, 25, 25);
}
#scrollDown{	
	color: black;
	position: fixed;
	bottom: 80px;
	right: 30px;
	font-size: 30px;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	background: #5eaaa8;
	border:none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}
#scrollDown:focus{
	outline: 0;
}
#scrollUp{	
	color: black;
	position: fixed;
	bottom: 140px;
	right: 30px;
	font-size: 30px;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	background: #5eaaa8;
	border:none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}
#scrollUp:focus{
	outline: 0;
}
.parallax {
  background-image: url('/static/centralapp/Images/bhu.jpeg');
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}