
*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
/* scrolldown button */
#scrollDown{
	position: fixed;
	bottom: 40px;
	right: 40px;
	font-size: 30px;
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background: #5eaaa8;
	border:none;
	cursor: pointer;
	pointer-events: auto;
	z-index: -1;
}

/* navbar */
#navstyle{
	background-color: #24a19c;
	color: #FFFFF0;
	background-image: linear-gradient(90deg, #24a19c 0%, #cedebd 100%);

}

/* sidebar (moving) of left  */
#sidebar{
	position: absolute;
	top:88px;
	width: 200px;
	height: 100%;
	background: #24a19c;
	left: -200px;
	transition: all 300ms linear;
}
#sidebar ul a{
	color: rgba(230,230,230,0.9);
	list-style: none;
	cursor: pointer;
}
#sidebar ul li{
	color: rgba(230,230,230,0.9);
	list-style: none;
	padding: 20px 15px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}
#sidebar ul li:hover{
	background-color: #cedebd;
	border-radius: 0px 40px 40px 0px;
	font-weight: bold;
	color: black;
}
#sidebar .toggle-btn{
	position: absolute;
	left: 210px;
    top: 20px;
    cursor: pointer;
    padding: 5px 12px;
}
#sidebar .toggle-btn:hover{
    background-color: #cedebd;
    padding: 5px 12px;
    border-radius: 30%;
}
#sidebar a{
	text-decoration: none;
	color: #f6f5f5;
}

#main-content{
	transition: all 0.4s linear;
	/* padding: 20px; */
    overflow: hidden;
	/* margin: auto; */
	width: "100%";
}

.dashboard-content{
    padding: 20px;
	border-radius: 15px;
	border: solid 4px #838383;
	background-color: #f5f1da;
	margin: 50px auto;
	box-shadow: 0.5em 0.5em 1em -0.5em;
}

/* footer classes and ids */
.footer-style h6{
	
	font-weight: 700;
	font-size: 1.2em;
	color: rgb(20, 20, 20);
}
.footer-style a{
	padding: 10px 0;
	font-weight: 500;
	color: rgb(26, 25, 25);
}
.no-bullet-list ul li{
	list-style: none;
	/*padding-left: 8px;*/
}
.two-column-list ul{
	list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.useful_links{
	color: rgb(59, 59, 59);
	text-decoration: none;
}
.useful_links:hover{
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.profile-box-info{
	margin:-20px;
	text-align: center;
	padding: 30px 20px;
	border-radius: 10px;
	border: solid 4px #838383;
	background-color: #f5f1da;
	box-shadow:  1em 1em 2em -1em rgba(0,0,0,0.75);
}
.profile-content p{
	line-height: 150%;
	font-size: 18px;
}
.profile-content h3{
	font-size: 2em;
	font-family: 'Grandstander';
	margin: 20px auto;
	padding: 10px;
}
.profile-content ul{
	list-style: none;
}
.head-grand{
	font-family: 'Grandstander';
	margin: 20px 10px;
}
.head-pacifico{
	font-family: 'Pacifico';
	margin: 20px 10px;
}
.edit-option-buttons{
	padding: 7px;
	background: #757474;
	color: white;
	border-radius: 10px;
	/* margin-bottom: 20px; */
}
.edit-option-buttons:focus{
	outline: 0;
}
.edit-option-buttons a{
	text-decoration: none;
	color: white;
}
.edit-option-buttons a:hover{
	text-decoration: none;
	color: white;
}
.edit-option-buttons:hover{
	text-decoration: none;
	background:#575656;
}
textarea{
	background-color: #f5f1da;
	border: solid 4px #838383;
	border-radius: 10px;
}
.prev-download-btn{
	padding: 7px;
	background:  #24a19c;
	color:white;
	border-radius: 8px;
}
.prev-download-btn:hover{
	background: #a3a3a3;
	color: black;
	text-decoration: none;;
}
