{% extends 'doctor/doctor_base.html' %}

{% block doctor_base %}
{% load static %}

<div class="container" id="main-content">
  <div class="row dashboard-content">
    <h2>Name </h2>
    <p>
      Dr. Randeep Guleria
    </p>
    <a href="#">View more</a>

  </div>
  <div class="row dashboard-content">
    <h2>Positon</h2>
    <p>
      Director of AIIMS (All India Institute of Medical Sciences).
    </p>
    <a href="#">View more</a>

  </div>
  <div class="row dashboard-content">
    <h2>Educational Qualifications</h2>
    <p>
      Tujhse zyada.
    </p>
    <a href="#">Edit info</a><br><br>
    
  </div>
  
</div>





{% endblock %}