{% extends 'patient/base.html' %}

{% block patient_base %}
{% load static %}
<div>
    
</div>
<div class="container" id="main-content">
    <div class="row dashboard-content">
        
        <h2>Patient_name:{{subject.name}} </h2>
        <button><a href="{% url 'doctor:newReport' p=subject.id %}">Add Record</a></button>
       

    </div> 
    <div class="row dashboard-content">
        <h2>Current Medication </h2>
        {% for report in Reports%}
                <div class="prescription" style="background: rgb(238, 201, 255);padding: 1em;">
                    <h5 style="background-color: #f7ec8d; width: fit-content;border-radius: 10px; padding: 2px 5px;
                    font-family: 'Grandstander'; margin: auto;">Date: {{report.date}}</h5>
                    
                    
                   
                    <h5><b>Doctor:</b>{{report.doctor_name}}</h5>
                    <h5>Symptoms</h5>
                    <p>{{report.Symptoms}}</p>
                    <h5>Diagnosis</h5>
                    <p>{{report.diagnosis}}</p>
                    <table class="table table-bordered table-sm">
                        <thead class="thead-dark">
                        <tr>
                            <th>    </th>
                            <th>Medicine</th>
                            <th>Dosage</th>
                            <th>For</th>
                        </tr>
                        </thead>
                        <tbody>
                            {%for med in report.medication%}
                        <tr>
                            <td>.</td>
                            {%for each in med%}
                            <td>{{each}}</td>
                            {%endfor%}
                            
                           
                        </tr>
                        {%endfor%}
                        
                        </tbody>
                    </table>
                    <p><strong>Additional Precautions:</strong> {{report.additional_precautions}}</p>
                        
                </div>
                    <hr>
                    {%endfor%} 
        

        <a href="#">View more</a>

    </div>
    <div class="row dashboard-content">
        <h2>Recent Lab reports </h2>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Report Name</th> 
                    <th>Report Date</th>
                    <th>Download</th>
                    <th>Preview</th> 
                   
                </tr>
            </thead>
            <tbody>
                {%for report in labreports%}
                <tr>
                    <td>{{report.report_name}}</td>
                    <td>{{report.report_date}}</td>
                   
                    <td><a class="prev-download-btn" href="{{report.labreportfile.url}}" download>Download</a></td>
                    <td><a class="prev-download-btn" href="{{report.labreportfile.url}}" >Preview</a></td>
                    
                </tr>
                {%endfor%}
            </tbody>
        </table>
        

    </div>
    <div class="row dashboard-content">
        <h2>General Vitals </h2>
        <p><br><br>
height :      {{vitals.Height_in_Centimeters}}<br>
Weight :      {{vitals.Weight_in_kilograms}}<br>
Allergies :      {{vitals.Allergies}}<br>
smoker or not :      {{vitals.Smoker_or_not}}<br>
Chronic_conditions :      {{vitals.Chronic_conditions}}<br>
        </p>
        <a href="{% url 'patient:editPatientVitals' %}">Edit info</a><br><br>

    </div>


</div>

{% endblock %}
