<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form   action="{% url 'doctor:addReport'%}" method="POST">
      {% csrf_token %}
      <input type="hidden" id="" name="docid" value={{details.docid}}>
      <input type="hidden" id="" name="patid" value={{details.patid}}>
      <input type="hidden" id="" name="doctor_name" value={{details.doctor_name}}>
      
      <label>Date:{{details.date}}</label><br>
      <label for="">Doctor Name:{{details.doctor_name}}</label><br>
      <label for="">symptoms:</label>
      <input type="text" name="symptoms" id=""><br>
      <label for="">diagnosis:</label>
      <input type="text" name="diagnosis" id=""><br>
      <label for="">medication:</label>
      <input type="text" name="medication" id=""><br>
      <label for="">Additional Preacautions:</label>
      <input type="text" name="additional_precautions" id=""><br>

      <label for="">submit:</label>
      <input type="submit" name="" id="">
    </form>
  </body>
</html>
