{% extends 'patient/base.html' %}
{% load static %}
{% block patient_base %}

<div class="container" id="main-content">
  
    <h1 style="font-family:'Ubuntu';font-size: 3rem;text-align: center; color: rgb(92, 46, 13); ">Lab Reports</h1>
    <div class="row my-4" >
        <div class="col" >
            <div style="width:fit-content; margin:auto; padding: 30px 20px; border-radius: 10px; border: solid 4px #838383; 
            background-color: #f5f1da; box-shadow:  1em 1em 2em -1em rgba(0,0,0,0.75);">

            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Report Name</th>
                        <th>Report Date</th>
                        <th>Preview</th>
                        <th>Download</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MRI</td>
                        <td>dd-mm-yyyy</td>
                        <td><a class="prev-download-btn" href="{% static 'patient/lorem.pdf'%}" target="_blank">Preview</a></td>
                        <td><a class="prev-download-btn" href="{% static 'patient/lorem.pdf'%}" download>Download</a></td>
                        <td><a class="prev-download-btn" href="#">Remove</a></td>
                    </tr>
                </tbody>
            </table>
            <form>
                <div> 
                    <label><b>Add a new Report: </b></label>
                    <input class="prev-download-btn form-control-file"type="file" name="file"/>
                    <input class="prev-download-btn my-2" type="submit"/>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
  
  
{% endblock %}