{% extends 'patient/base.html' %}
{% load static %}
{% block patient_base %}

<div class="container" id="main-content">
  
    <h1 style="font-family:'Ubuntu';font-size: 3rem;text-align: center; color: rgb(92, 46, 13); ">Medications</h1>
    <div class="row my-4" >
        <div class="col" >
            <div style="width:fit-content; margin:auto; padding: 30px 20px; border-radius: 10px; border: solid 4px #838383; 
            background-color: #f5f1da; box-shadow:  1em 1em 1.75em -1.5em rgba(0,0,0,0.75);">
            
                <div class="prescription" style="background: rgb(238, 201, 255);padding: 1em;">
                    <h5 style="background-color: #f7ec8d; width: fit-content;border-radius: 10px; padding: 2px 5px;
                    font-family: 'Grandstander'; margin: auto;">Date: 22-09-2020</h5>
                    <h5><b>Doctor:</b> Dr.Anderson</h5>
                    <h5>Symptoms</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, asperiores.</p>
                    <h5>Problems/Diseases</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aut, voluptatem cumque 
                        accusantium fuga corporis?</p>
                    <table class="table table-bordered table-sm">
                        <thead class="thead-dark">
                        <tr>
                            <th>Sr. No.</th>
                            <th>Medicine</th>
                            <th>Dosage</th>
                            <th>For</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Disprin</td>
                            <td>1/2 thrice a day</td>
                            <td>Headache</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Zincovid</td>
                            <td>1 twice a day</td>
                            <td>Vitamin C</td>
                        </tr>
                        </tbody>
                    </table>
                    <p><strong>Additional Precautions:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet dignissimos 
                        odit quod labore minus illum!</p>
                        
                </div>
                    <hr>

                <div class="prescription" style="background: rgb(238, 201, 255);padding: 1em;">
                    <h5 style="background-color: #f7ec8d; width: fit-content;border-radius: 10px; padding: 2px 5px;
                    font-family: 'Grandstander'; margin: auto;">Date: 22-09-2020</h5>
                    <h5><b>Doctor:</b> Dr.Anderson</h5>
                    <h5>Symptoms</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, asperiores.</p>
                    <h5>Problems/Diseases</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aut, voluptatem cumque 
                        accusantium fuga corporis?</p>
                    <table class="table table-bordered table-sm">
                        <thead class="thead-dark">
                        <tr>
                            <th>Sr. No.</th>
                            <th>Medicine</th>
                            <th>Dosage</th>
                            <th>For</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Disprin</td>
                            <td>1/2 thrice a day</td>
                            <td>Headache</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Zincovid</td>
                            <td>1 twice a day</td>
                            <td>Vitamin C</td>
                        </tr>
                        </tbody>
                    </table>
                    <p><strong>Additional Precautions:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet dignissimos 
                        odit quod labore minus illum!</p>
                
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
  
  
{% endblock %}