{% extends 'patient/base.html' %}
{% load static %}
{% block patient_base %}

<div class="container" id="main-content">
  <div class="row dashboard-content">
    <h2>This is the patient Profile page </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <a href="#">View more</a>

  </div>
  <div class="row dashboard-content">
    <h2>NAME</h2>
    <p>
      ABC XYZ
    </p>
    <a href="#">View more</a>

  </div>
  <div class="row dashboard-content">
    <h2>General Info </h2>
    <p>
      Height: something;
      Weight: Not something to be publicly diplayed.
    </p>
    <a href="#">Edit info</a>

  </div>

</div>

{% endblock %}