{% extends 'patient/base.html' %}
{% load static %}
{% block patient_base %}


<div class="container">
<h1 style="font-family:'Ubuntu';font-size: 3rem;text-align: center; color: rgb(92, 46, 13); ">My Profile </h1>

<button class="edit-option-buttons" style="font-size: 18px; float: right;">
  <a href="{% url 'patient:editPatient' %}"> Edit your profile </a>
</button>
</div>
<div class="container" id="main-content" style="margin-left: 170px; margin-top: 8%; width: 100%;margin-bottom: 10%;">
  <div class="row my-5">
    <div class="col-4 text-center" style="background-color: #f5f1da;"><br>
      <img class="profile-photo" src="{{ profile.profile_pic.url }}" alt=""><br><br>
      <div class="row my-3 align-items-center">
        <div class="col-6">
          <div class="profile-field">
            <b>NAME:</b>
          </div>
        </div>
        <div class="col-6">
          <div class="profile-content">
            {{profile.name }}
          </div>
        </div>
      </div><br>
      <div class="row my-3">
        <div class="col-lg-5 profile-content">
          <b>ACCESS CODE: </b>
        </div>
        <div class="col-lg-7 profile-content">
          {{profile.access_code}}
        </div>
      </div><br>

    </div>
    <div class="col-4 text-center" style=" background-color:#f5f1da;;"><br>

      
      <div class="row my-3 ">
        <div class="col-6">
          <div class="profile-content">
            <b>USERNAME:</b>
          </div>
        </div>
        <div class="col-6">
          <div class="profile-content">
            {{request.user.username}}
          </div>
        </div>
      </div><br>
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>EMAIL:</b>
        </div>
        <div class="col-lg-6 profile-content">
          {{request.user.email}}
        </div>
      </div><br>
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>AGE: </b>
        </div>
        <div class="col-lg-6 profile-content">
        {{profile.age}}
        </div>
      </div><br>
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>GENDER:</b>
        </div>
        <div class="col-lg-6 profile-content">
          {{profile.gender}}
        </div>
      </div><br>
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>ADDRESS:</b>
        </div>
        <div class="col-lg-6 profile-content">
          {{profile.address}}
        </div>
      </div><br>

    </div>
    <div class="col-4 text-center" style="background-color:#f5f1da;"><br>
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>CONTACT NUMBER</b>
        </div>
        <div class="col-lg-6 profile-content">
          {{profile.phone}}
        </div>
      </div><br>
    <!-- <div class="col-4 text-center" style="background-color:#f5f1da;"><br> -->
    <div class="row my-3">
      <div class="col-lg-6 profile-content">
        <b>EMERGENCY CONTACT:</b>
      </div>
      <div class="col-lg-6 profile-content">
        {{profile.emergency_contact}}
      </div>
    </div><br>
    <div class="row my-3">
      <div class="col-lg-6 profile-content">
        <b>PROFESSION:</b>
      </div>
      <div class="col-lg-6 profile-content">
        {{profile.profession}}
      </div>
    </div><br>
    <div class="row my-3">
      <div class="col-lg-6 profile-content">
        <b>AADHAR NUMBER:</b>
      </div>
      <div class="col-lg-6 profile-content">
        {{profile.Aadhar_Number}}
      </div>
    </div>

  </div>
</div>
</div>


  <!-- <div style="display: flex;justify-content: center;">
  <div style="display: flex;justify-content: center;">
  <div class="row my-4 profile-box-info justify-content-around" style="width: fit-content">
    <div class="col-sm-2 p-2 col-lg-2 p-2" style="margin-right: 20px;">
      <img height="200px" width = "150px" src="{{ profile.profile_pic.url }}" alt="">
    </div>
    <div class="col-sm-6 col-lg-6 p-2 " style="margin-left: 50px;">
      <div class="profile-content">
      <h3 >General Info</h3>
        <b>Name:</b> {{profile.name }} <br>
         <b>Username:</b> whatever <br>
        <b>Email:</b> abc@gmail.com <br>
        <b>Age: </b>{{profile.age}} <br>
        <b>Gender: </b> {{profile.gender}} <br>
        <b>Patient ID: </b> {{profile.id}} <br>
        <b>Access Code: </b> {{profile.access_code}} <br>
      </div>

    </div>
  </div>
  </div> -->

  <!-- <div class="row my-4">
    <div class="col-sm-5 col-lg-5 p-2 ml-auto mr-auto">
      <div class="profile-box-info">
        <div class="profile-content">
          <h3 >Contact Info</h3>
          <p>
            <b>Address:</b> {{profile.address}} <br>
            <b>Phone :</b> {{profile.phone}} <br>
            <b>Emergency_contact :</b> {{profile.emergency_contact}}<br>
          </p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="row my-4">
    <div class="col-sm-4 p-2 col-lg-5 ml-auto mr-auto">
      <div class="profile-box-info ">
        <div class="profile-content">
          <h3>Other social info</h3>
          <b>Profession:</b> {{profile.profession}}<br>
          <b>Aadhar Number:</b> {{profile.Aadhar_Number}}<br>
        </div>
      </div>
    </div>

  </div> -->

{% endblock %}
