{% extends 'patient/base.html' %}

{% block patient_base %}
{% load static %}

<div class="container" id="main-content" style="margin-left: 160px;">
    <div class="row dashboard-content">
        <div class="col">
        <h2 style="display: block;">Current Medication </h2>
        {% for report in Reports%}

        <div class="prescription" style="background: #fff7c8 ;padding: 1em;">
            <p style="font-size: x-large;"><span><b>Doctor: </b> {{report.doctor_name}}</span>
            <span style="float: right;"><b>Date: </b>{{report.date}}</span></p>

            <p><b>Symptoms: </b>{{report.Symptoms}}</p>
            <p><b>Diagnosis: </b>{{report.diagnosis}}</p>
            <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                <tr>
                    <th>Medicine</th>
                    <th>Dosage</th>
                    <th>For</th>
                </tr>
                </thead>
                <tbody>
                {%for med in report.medication%}
                <tr>
                    {%for each in med%}
                    <td>{{each}}</td>
                    {%endfor%}
                </tr>
                {%endfor%}

                </tbody>
            </table>
            <p><strong>Additional Precautions:</strong> {{report.additional_precautions}}</p>
        </div>
        <hr>
        {% empty %}
        <div  style="margin-top:7%;">
            <p style="font-size: 20px;">
                <b>
                    NO MEDICAL HISTORY !!
                </b>
            </p>
        </div>
        {%endfor%}

        <div class="container">
            <button class="edit-option-buttons" style="font-size: 18px;">
                <a href="{% url 'patient:medications' %}">View all prescriptions</a>
            </button>
        </div>
    </div>
    </div>
    <div class="row dashboard-content">
        <h2>Recent Lab reports </h2>
        <div class="container" id="main-content">
        <div class="row my-4">
            <div class="col">


                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Report Name</th>
                                <th>Report Date</th>
                                <th>Preview</th>
                                <th>Download</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for report in lab_rec %}
                                <tr>
                                    <td>{{report.report_name}}</td>
                                    <td>{{report.report_date}}</td>
                                    <td><a class="prev-download-btn" href="{{report.labreportfile.url}}" target="_blank" >Preview</a></td>
                                    <td><a class="prev-download-btn" href="{{report.labreportfile.url}}" download>Download</a></td>


                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>

            </div>
        </div>
        </div>
        <div class="container">
            <button class="edit-option-buttons" style="font-size: 18px;">
                <a href="{% url 'patient:labreports' %}">View reports</a>
            </button>
        </div>
    </div>
    <div class="row dashboard-content">
       <div><h2>General Vitals </h2></div>
       <div class="container" style="width: 100%;">
        <div class="row my-5" style="font-size: 20px;">
            <div class="col-5 text-center" >
                <div class="row my-3">
                    <div class="col-lg-6 profile-content">
                        <b>HEIGHT : </b>
                    </div>
                    <div class="col-lg-6 profile-content">
                        {{vitals.Height_in_Centimeters}} Centimeters
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-6 profile-content">
                        <b>WEIGHT :</b>
                    </div>
                    <div class="col-lg-6 profile-content">
                        {{vitals.Weight_in_kilograms}} Kgs
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-6 profile-content">
                        <b>SMOKER OR NOT :</b>
                    </div>
                    <div class="col-lg-6 profile-content">
                        {{vitals.Smoker_or_not}}
                    </div>
                </div>
            </div>
            <div class="col-7 text-center">
                <div class="row my-3">
                    <div class="col-lg-6 profile-content">
                        <b>ALLERGIES :</b>
                    </div>
                    <div class="col-lg-6 profile-content">
                        {{vitals.Allergies}}
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-6 profile-content">
                        <b>CHRONIC CONDITIONS : </b>
                    </div>
                    <div class="col-lg-6 profile-content">
                        {{vitals.Chronic_conditions}}
                    </div>
                </div>
            </div>
        </div>
       </div>

<!-- height :      {{vitals.Height_in_Centimeters}}<br>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Report Name</th>
                    <th>Report Date</th>
                    <th>Download</th>
                    <th>Preview</th>

                </tr>
            </thead>
            <tbody>
                {%for report in lab_rec%}
                <tr>
                    <td>{{report.report_name}}</td>
                    <td>{{report.report_date}}</td>

                    <td><a class="prev-download-btn" href="{{report.labreportfile.url}}" download>Download</a></td>
                    <td><a class="prev-download-btn" href="{{report.labreportfile.url}}" >Preview</a></td>

                </tr>
                {%endfor%}
            </tbody>
        </table>

    </div>
    <div class="row dashboard-content">
        <h2>General Vitals </h2>
        <p><br><br>
height :      {{vitals.Height_in_Centimeters}}<br>
Weight :      {{vitals.Weight_in_kilograms}}<br>
Allergies :      {{vitals.Allergies}}<br>
smoker or not :      {{vitals.Smoker_or_not}}<br>
Chronic_conditions :      {{vitals.Chronic_conditions}}<br> -->

<div class="container">
    <button class="edit-option-buttons" style="font-size: 18px; left: 50%;">
        <a href="{% url 'patient:editPatientVitals' %}">Edit info</a>
    </button>
</div>
</div>
</div>

{% endblock %}
