{% extends 'patient/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block patient_base %}

<div class="formclass">
<h1 style="font-family: Itim,cursive;" class="mb-3">Create Your Account</h1>

  <form method="POST">
    {% csrf_token %}

    <!-- Version 1 -->
    <!-- {% for field in form %}
      <div class="form-group">
        {{field.name}}<br>
        {{field}}
      </div>
    {% endfor %} -->

    <!-- Version 2 -->
    <!-- {{ form|crispy }} -->

    <!-- Version 3                                       ** BEST YET **   -->
    {% for field in form %}
        <div class="form-group">
            <div class="row">
                <div class="col-sm-5">
                    {{ field.label_tag }}
                </div>
                <div class="col-sm">
                    {{ field }}
                </div>
            </div>
            <div class="row pl-4">
                
                {% if field.help_text %}
                <br>
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
               
            </div>
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <button class="btn btn-success ml-4" type="submit">SignUp</button>
  </form>
</div>


{% endblock %}